@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins ,ubuntu';
    /* background-color: black; */
}
.navbar{
    width: 100%;
    position: sticky !important;
    overflow: hidden;
    z-index: 9999;

    left: 0;
    top: 0;
   
}
.navbar-brand{
   font-size: 50px;
}
.navbar-brand span{
    color: crimson;
   
}
.nav-link{
    color: white !important;  
    border-bottom: 1px solid transparent;
}
.nav-link:hover{
    color: crimson;
     border-bottom: 1px solid crimson;
} 





/* HOME section style */
#home{
    height: 100vh;
    weight:100vh;
        background-color: black;

}

.name{
    margin-top: 150px;
    text-align: center;
    font-size: 55px;
    color: white;
  
}
#home img{
    border-radius: 50%;
    margin-top: 200px;
    margin-left: 35px;
    align-items: center;
    justify-content: baseline; 

 
}
.auto{
    font-size: 50px;
    color: white;
}

.named{
    color: crimson;
}
.auto-type{
    font-size:55px ;
    color: red;
}

.fa-brands{
    font-size: 60px;
    color: chartreuse;
    margin: 50px 20px;
}
.fa-envelope{
    font-size: 70px;
    color: chartreuse;
    margin: 50px 10px;
}
#home .fa-brands:hover{
    color:red;
}
#home .fa-envelope:hover{
    color: red;
}
/* About Styling */
#About{
  
    height: 100%;
    width: 100%;
    /* margin-bottom: 50px; */
   
  
    background-color:black;
}
.about{
  
    font-family: 'poppins ,ubuntu';
    background-color:black;
    height: 100%;


}
.card{
    margin: 20px 20px;
    align-items: center;
    font-weight: 500;
    font-size: 25px;
    padding-top: 25px;
}

.Us{
    color: white;
    font-family: 'poppins ';
    font-size: 60px;
    font-weight: 500;
    border:2px solid black;
    margin-top: 10px;
    background-color: black;
   


}
span{
    color: crimson;
}

/* skill style */
.skill{
    color: white;
    font-family: 'poppins ';
    font-size: 50px;
    font-weight: 500;
    border:5px solid black;
     background-color: black;
     margin: 10px 10px;


}
.skil{
    background-color:aqua;
    height: auto;
    margin-top: 10px;
    border: 10px solid white;
}
.skil img{
    height: 50%;
    width: 50%;
    padding-top: 10PX;

  

}

.skil p{
    font-size: 20px;
    
    
    
}
.skil .card{
    background-color:cornsilk;
    
}
/* .npm{
   height: 80%;
   width: 50%; */

   


/* .project style */
.pro{
    color: white;
    font-family: 'poppins ';
    font-size: 50px;
    font-weight: 500;
    border:5px solid black;
     background-color: black;
     /* margin: 10px 10px; */
     height: 100%;
     width: 100%;

}
.project{
    margin: 10px 10px;
    height: 100%;
    width: 100%;
    /* background-color:black; */
}

.con{
    font-size: 35px;
    display: flex;
    background-color: yellowgreen;
    padding: 15px;
}


.fas{
    color: red;
}
.fas:hover{
    color: white;
}
.con i{
    color: red;
    font-size: 40px;
    margin: 30px;
    
}
form{
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    margin: 40px;
    
}
form input{
    margin: 10px;
    width: 70%;

    border-radius: 10px;

}
form textarea{
    margin: 10px;
    border-radius: 10px;
    width: 70%;


}
form button{
    margin: 20px;
    border-radius: 10px;
    width: 70%;

}
.con .fa-brands:hover{
    color:white
}
.con .fa-envelope:hover{
    color:white;
}


